<div>
    <div class="row 50%">
        <div class="6u">
            <ul class="actions">
                <li><a ui-sref="search({zipCode:siteCtrl.currentLocation.zipCode})">Search Offers</a></li>
                <li><a ui-sref="package({zipCode:siteCtrl.currentLocation.zipCode})">Package</a></li>
                <li><a ui-sref="paperwork({zipCode:siteCtrl.currentLocation.zipCode})">Paperwork</a></li>
                <li><a ui-sref="call({zipCode:siteCtrl.currentLocation.zipCode})">Call</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="4u">
            <h2>
                Package Offers
            </h2>
        </div>
        <div class="8u">
                <ul class="actions pull-right">
                    <li>Sort By</li>
                    <li>
                        <div class="select-wrapper">
                            <select ng-model="packageCtrl.searchParams.category" ng-change="packageCtrl.goTo()" style="width: 150px">
                                <option value="0">Relevant</option>
                                <option value="1">Price: Min-Max</option>
                                <option value="2">Price: Max-Min</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="3u">
            <div>
                <h4>category</h4>
                <div>
                    <div class="select-wrapper">
                        <select ng-model="packageCtrl.searchParams.category" ng-change="packageCtrl.goTo()">
                             <option value="0">---all----</option>
                             <option value="1">food</option>
                             <option value="2">bag</option>
                             <option value="3">things</option>
                         </select>
                    </div>
                </div>
            </div>
            <div>
                <h4>Options</h4>
                <div>
                    <input id="delivery" type="checkbox" name="delivery" ng-model="packageCtrl.searchParams.delivery" ng-change="packageCtrl.goTo()">
                    <label for="delivery">Delivery</label>
                </div>
            </div>

        </div>
        <div class="9u$">
            <div ng-repeat="row in packageCtrl.offers" class="row item">
                <div class="2u">
                    <i class="fa fa-image fa-5x"></i>
                </div>
                <div class="7u">
                    <a style="font-size: 18px;" ui-sref="packageView({id:$index})">{{row.ownerName}}</a><br/>
                    <i class="fa fa-map-marker" style="margin-right: 10px;"></i>{{row.ownerLocation}} <br/>
                    <span style="font-style: italic; color:#bbbbbb; ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta doloribus ea et eum, exercitationem harum id in incidunt, mollitia, nesciunt odit quia quibusdam recusandae </span> <br/>
                </div>
                <div class="3u$">
                    <h2 ng-bind="row.price | currency"></h2>
                </div>
            </div>
            <pagination ng-show="packageCtrl.offers.length != 0" total-items="packageCtrl.total" page="packageCtrl.searchParams.page" ng-click="packageCtrl.goTo()"></pagination>
        </div>
    </div>
</div>