<div>
    <h2>
        Package Offers
    </h2>

    <div class="row">
        <div class="3u">
            <div>
                <h4>category</h4>
                <div>
                     <select ng-model="packageCtrl.searchParams.category" ng-change="packageCtrl.goTo()">
                         <option value="0">---all----</option>
                         <option value="1">food</option>
                         <option value="2">bag</option>
                         <option value="3">things</option>
                     </select>
                </div>
            </div>
            <div>
                <h4>Options</h4>
                <div>
                    <input id="delivery" type="checkbox" name="delivery" ng-model="packageCtrl.searchParams.delivery" ng-change="packageCtrl.goTo()">
                    <label for="delivery">Delivery</label>
                </div>
            </div>

        </div>
        <div class="9u$">
            <table st-table="packageCtrl.offers">
                <thead>
                <tr>
                    <th>first name</th>
                    <th>location</th>
                    <th>price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in packageCtrl.offers">
                    <td><a ui-sref="packageView({id:$index})">{{row.ownerName}}</a></td>
                    <td>{{row.ownerLocation}}</td>
                    <td>{{row.price | currency}}</td>
                </tr>
                </tbody>
            </table>
            <pagination ng-show="packageCtrl.offers.length != 0" total-items="packageCtrl.total" page="packageCtrl.searchParams.page" ng-click="packageCtrl.goTo()"></pagination>
        </div>
    </div>
</div>