<div ng-controller="SiteCtrl as siteCtrl">
    <!-- Header -->
    <header id="header">
        <h1 id="title"><a href="#">SENT TO CUBA</a></h1>
        <nav id="nav">
            <ul>
                <li>
                    Your Location:
                </li>
                <li>
                    <input id="location" placeholder="Enter your Location" type="text" name="location" ng-model="siteCtrl.newZipCode">
                </li>
                <li>
                    <a class="button" ng-click="siteCtrl.setLocation()">Go</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li><a ui-sref="blog">blog</a></li>
                <li><a ui-sref="privacy">privacy</a></li>
                <li><a ui-sref="contact">contact us</a></li>
            </ul>
        </nav>
    </header>

    <div id="main" class="container">
           <div ui-view></div>
   </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            &copy; Sent to Cuba. All rights reserved.
        </div>
    </footer>


</div>